:root {
  --background: #f5f5f5;
  --color-hover: royalblue;
  --color: royalblue;
  --text: #212121;
  --visited-color: DarkViolet;
}

/* MODO OSRURO 🌙 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --text: #ffffff;
    --visited-color: LightCoral;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    &:has(.panel) {
      margin-left: 200px;
    }
  [data-layout] {
    background-color: var(--background);
    a {
      align-items: center;
      color: inherit;
      display: flex;
      text-decoration: none;
      transition: padding .2s ease-in-out;
      &.hover,
      &:hover {
        color: var(--color);
      }
    }
    span {
      white-space: nowrap;
    }
    ul {
      margin: 0}
    .icon {
      fill: currentColor;
      height: 1rem;
      width: 1rem;
    }
    /* ESTILOS DE LOS MENÚS */
    &.circle a.hover,
    &.circle a:hover,
    &.rounded a.hover,
    &.rounded a:hover,
    &.invert a.hover,
    &.invert a:hover {
      background-color: var(--color-hover);
      color: var(--background);
    }
    &.rounded a {
      border-radius: .25rem;
    }
    &.circle a {
      border-radius: 5rem;
    }
    /* MODOS */
    &.dropdown {
      position: absolute;
      top: 0;
      right: 0;
    }
    &.tree {
      ul {
        padding: 0 0 0 1rem !important;
      }
    }
    &.menu {
      & > ul {
        display: flex;
        li {
          position: relative;
          &:hover > ul {
            display: block;
          }
        }
        > li {
          & > ul {
            top: 100% !important;
            left: 0 !important;
          }
          /* &:not(:hover) > ul {
            display: none;
          } */
          ul {
            display: none;
            left: 100%;
            position: absolute;
            top: 0%;
            z-index: 1;
          }
        }
      }
      &._show_submenus_indicators {
        & > ul > li:has(a + ul):before {
          transform: translateY(-50%) rotate(90deg);
        }
        li {
          &:has(a + ul) {
            padding-right: 1rem;
            &:before {
              content: '▸';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0.25rem;
            }
          }
        }
      }
    }
    &.panel {
      background-color: var(--background);
      border-right: 1px solid transparent;
      left: 0;
      max-height: 100vh;
      min-height: 100vh;
      min-width: fit-content;
      position: fixed;
      top: 0;
      z-index: 1;
      &._right {
        border-left: 1px solid transparent;
        border-right: none;
        left: auto;
        right: 0;
        li {
          ul {
            right: 100%;
            left: auto;
          }
        }
      }
      li {
        &:not(:hover) {
          ul {
            display: none;
          }
        }
        ul {
          background: var(--background);
          left: 100%;
          position: absolute;
          top: 0;
        }
      }
    }
    /* DENSIDAD DE INFORMACIÓN */
    &.comfortable,
    &.compact,
    &.min,
    &.normal,
    &.comfortable {
      ul {
        list-style: none;
        padding: 0;
      }
    }
    &.comfortable {
      a {
        padding: 1rem 1.5rem;
        gap: 1.5rem;
        & > span:first-child {
          padding-left: 2.5rem;
        }
      }
    }
    &.compact {
      a {
        padding: .25rem .5rem;
        gap: .5rem;
        & > span:first-child {
          padding-left: 1.5rem;
        }
      }
    }
    &.min {
      a {
        padding: 0 .25rem;
        gap: .25rem;
        & > span:first-child {
          padding-left: 1.25rem;
        }
      }
    }
    &.normal {
      a {
        padding: .5rem 1rem;
        gap: 1rem;
        & > span:first-child {
          padding-left: 2rem;
        }
      }
    }
    /* OPCIONES COMPARTIDAS ENTRE MODOS */
    &._show_submenus_indicators {
      & > ul > li:has(a + ul):before {
        transform: translateY(-50%) rotate(90deg);
      }
      li {
        position: relative;
        &:has(a + ul) {
          padding-right: 1rem;
          &:before {
            content: '▸';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.25rem;
          }
        }
      }
    }
  }
}